[Unit]
Description=lock on suspend
Before=sleep.target

[Service]
User=%i
Type=forking
Environment="DISPLAY=:0"
ExecStart=betterlockscreen -l blur

[Install]
WantedBy=sleep.target